html {
  background-color: #bbe8b9;
  width: 100%;
  height: 100%;
  display: flex;
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-display: block;
  src: url("/public/fonts/MaterialSymbolsOutlined[FILL\,GRAD\,opsz\,wght].woff2");
}
@font-face {
  font-family: "Jost";
  font-display: swap;
  src: url("/public/fonts/Jost-VariableFont_wght.ttf"),
    url("/public/fonts/Jost-Italic-VariableFont_wght.ttf");
}

h1, h2, h3, h4, h5, h6 {
  font-family: Jost;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 2;
}

.title {
  font-size: 8rem;
  color: #5db562;
  text-align: center;
  margin: 0;
}